.contenedorPaginasDashboard{
    font-family: "Raleway", sans-serif;
    .contenidoPedidos{
        .botonesAccionPedidos{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .contenedorBuscador{
            width: 300px;
        }
        .botonFiltrar{
            width: fit-content;
            button{
                padding: 5px 10px;
                display: flex;
                flex-direction: row;
                justify-items: center;
                align-items: center;
                gap: 10px;
            }
        }
    }
}

.estadoPedido{
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
}

.filaTablaPedidos:hover{
    cursor: pointer;
}